@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5 ">
<h1>The world's smallest and unknown site for your Blog!</h1>
    <h3><a asp-controller="Home" asp-action="Registration">Join right now!</a></h3>
</div>
